body {
    color: white;
    background-color: grey;
}

h1 {
    text-align: center;
    font-size: 50pt;
}

#Links {
    display: grid;
    text-align: center;
}

footer {
    padding: 10px;
    text-align: left;
}

#Reviews {
    border: 10px solid black;
    text-align: center;
    font-size: 25px;
    margin: 10em;
    background-color: white;
    color: black;
}

h2 {
    text-align: center;
    font-size: 30pt;
}

#Projects {
    text-align: center;
    border: 3px solid white;
    background-color: black;
}

@media screen and (min-width: 60em) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
    }

    figure img {
        width: 100%;
    }
}